@font-face {
    font-family: Roboto-thin;
    src: url(fonts/roboto/Roboto-Thin.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-thin;
}
body{
    background-color: black;
}
#home-background{
    position: absolute;
    z-index: -1;
    top: 0;
}
.navbar{
    position: absolute;
    z-index: 1;
    padding-left: 135px;
    /*width: 100%;*/
}
.navbar .nav-item{
    color: black !important;
    padding-right: 50px;
    font-size: 30px;
    letter-spacing: 10px;
}
.nav-text-conainer{
    display: flex;
    flex-flow: column;
}
.navbar-burger{
    position: absolute;
    right: 125px;
    top: 45%;
    transform: translateY(-45%);
}
.underline{
    padding-right: 80px;
}
#gradient{
    position: absolute;
    top: 0px;
    opacity: 100%;
    z-index: 500;
}
.text{
    letter-spacing: 15px;
    padding-top: 15%;
    padding-left: 15%;
}
#title{
    font-size: 80px;
}
#union-text{
    color: #CC1E4A;
    font-size: 45px;
}