@font-face {
    font-family: Roboto-thin;
    src: url(fonts/roboto/Roboto-Thin.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-thin;
}
body{
    background-color: black;
}
#home-background{
    position: absolute;
    z-index: -1;
    top: 0;
}
.navbar{
    position: absolute;
    z-index: 0;
}
.navbar .nav-item{
    color: white !important;
    font-size: 35px;
    letter-spacing: 10px;
}
.nav-text-conainer{
    display: flex;
    flex-flow: column;
}
.underline{
    padding-right: 80px;
}
#gradient{
    position: absolute;
    top: 0.2px;
    opacity: 100%;
    z-index: 500;
}
.text{
    letter-spacing: 15px;
    padding-top: 15%;
    padding-left: 15%;
}
#title{
    font-size: 80px;
}
#union-text{
    color: #CC1E4A;
    font-size: 45px;
}