*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue !important;
}

.nav-link{
    color: white !important;
    font-weight: bolder !important;
    text-transform: uppercase;
    font-size: 14px !important;
}